<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yukideploy</title>
</head>
<body>
    <h1>IPを"216.24.57.4"に設定したドメインを入力してください</h1>
    <form action="/submit" method="post">
        <input type="text" name="domain" required>
        <button type="submit">送信</button>
    </form>
    <br><small>このサービスは予告なしに停止される可能性があります|送信したドメイン、サブドメインは本サービスの作成者に知られる可能性があります|送信して暫くは使用上利用できません</small><br>
    <small>ドメイン、サブドメインは例外を除き削除されません|本サービスの作成者により予告なしにドメイン、サブドメインへの紐付けが削除される可能性があります|本サービスにより作成されるYUKIYOUTUBEは<a href="https://github.com/Skype-Github/YUKI-GOD">改造版</a>です</small>
</body>
</html>
