<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yukideploy</title>
</head>
<body>
    <h1>IPを"216.24.57.4"に設定したドメインを入力してください。ドメインを所持していない場合"サーバー2"に設定し"<自由に入力してください>.yukimod.f5.si"or"<自由に入力してください>.yukimods.f5.si"or"<自由に入力してください>.yukitube.f5.si"と入力してください</h1>
    <form action="/submit" method="post">
    <label for="server">サーバーを選択:</label>
    <select name="server" required>
        
        <option value="2">サーバー2</option>
        <option value="3">サーバー3</option>
        <option value="4">サーバー4</option>
        <option value="5">サーバー5</option>
        <option value="6">サーバー6</option>
        <option value="1">サーバー1</option>
    </select>
    <input type="text" name="domain" required placeholder="ドメイン、サブドメイン">
    <button type="submit">送信</button>
    </form>

    <br><small>このサービスは予告なしに停止される可能性があります|送信したドメイン、サブドメインは本サービスの作成者に知られる可能性があります|送信して暫くは仕様上利用できません|IPを設定したドメイン、サブドメイン以外を送信しないでください。続く場合サービスを停止します|ドメイン、サブドメインは例外を除き削除されません|本サービスの作成者により予告なしにドメイン、サブドメインへの紐付けが削除される可能性があります|本サービスにより作成されるYUKIYOUTUBEは<a href="https://github.com/Skype-Github/YUKI-GOD">改造版</a>です</small><br>
    サーバー1で作成したYUKIはアクセス過多で少々重いですが我慢してください。今度他の人も鯖を掲載出来るようにします|サーバー１での作成は非推奨です
</body>
</html>
