<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yukideploy</title>
</head>
<body>
    <h1>IPを"216.24.57.4"に設定したドメインを入力してください。</h1>
    <p>ドメインを所持していない場合"サーバー2"に設定し以下のように入力してください。</p><p><small>"<自由に入力してください>.yukimod.f5.si"<br>"<自由に入力してください>.yukimods.f5.si"<br>"<自由に入力してください>.yukitube.f5.si"</small></p>
    <form action="/submit" method="post">
    <label for="server">サーバーを選択:</label>
    <select name="server" required>
        
        <option value="2">通常サーバー</option>
    <!--<option value="3">サーバー3</option>
        <option value="4">サーバー4</option>
        <option value="5">サーバー5</option>
        <option value="6">サーバー6</option>
        <option value="2">サーバー7</option>-->
        <option value="1">改造版最新verテスト用サーバー</option>
    </select>
    <input type="text" name="domain" required placeholder="ドメイン、サブドメイン">
    <button type="submit">送信</button>
    </form>
    <a href="/deta">サーバーの情報</a></li>
    <br><small>このサービスは予告なしに停止される可能性があります|送信したドメイン、サブドメインは本サービスの作成者に知られる可能性があります|送信して暫くは仕様上利用できません|IPを設定したドメイン、サブドメイン以外を送信しないでください。続く場合サービスを停止します|本サービスにより作成されるYUKIYOUTUBEは<a href="https://github.com/Skype-Github/YUKI-GOD">改造版</a>です</small>
</body>
</html>
